$color-brand: #D11C69;
$color-light: #ffffff;
$color-brand-light: #fdcce1;
$color-alt: #ffbc2b;
$color-gray: rgb(236, 236, 236);


$content-width: 1020px;
$tablet-width: 768px;
$mobile-big-width: 540px;
$mobile-small-width: 320px;




