.contact-us {
  background: $color-brand-light;
  @include media-mobile {
    display: none;
}
}

.contact-us__logo {
  width: 70%;
  height: auto;
}

.layout-2-column_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us__content {
  margin: 55px 0px;
  position: relative;
}

.contact-us__form {
  input,
  textarea {
    border: 1px solid #ffffff;
    padding: 10px 21px;
    border-radius: 5px;

    &:focus {
      border: 1px solid #d11c69;
      outline: none;
    }
  }
  textarea {
    resize: none;
    width: 100%;
  }
  }

.contact-us__line {
  margin-bottom: 19px;
}
.contact-us__line :first-child {
  margin-right: 15px;
}

.contact-us__mail {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.1rem;
  font-weight: 300;
  margin-left: 10px;
}

.contact-us__mail a {
  text-decoration: none;
  color: #000;
}

.contact-us__mail_margin {
  margin-top: 10px;;
}