.main__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}
.main__block {
    max-width: 50%;
}

.main__block_two {
    margin: 60px 0 60px 40px;
    padding: 20px 30px 0 30px;
    border: 3px solid $color-brand-light;  
}

.main__icon {
    color: $color-brand;
}