%hamburger-line {
  content: "";
  display: inline-block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: $color-brand;
  border-radius: 5px;
}

.hamburger {
  display: none;

  @include media-mobile {
    z-index: 1;
    display: block;
    position: fixed;
    right: 2.5%;
    top: 2.5%;
  }
  position: relative;
  width: 31px;
  height: 25px;
  &:before {
    @extend %hamburger-line;
    top: 0;
    left: 0;
  }
  &:after {
    @extend %hamburger-line;
    bottom: 0;
    left: 0;
  }
}

.hamburger__line {
  @extend %hamburger-line;
  top: calc(50% - 1.5px);
  left: 0;
}
